AE2Stuff/*
AppliedEnergistics2/*
aroma1997/*
aobd.cfg
Artifice.cfg
Baubles.cfg
biomesoplenty/*
Botania.cfg
CarpentersBlocks.cfg
ChickenChunks.cfg
chisel.cfg
CodeChickenCore.cfg
cofh/core/*
cofh/thermalexpansion/*
cofh/thermalfoundation/*
DraconicEvolution.cfg
draconicevolution/*
endercore/*
enderio/*
EnderStorage.cfg
extrabiomes.cfg
ExtraTiC.cfg
ExtraUtilities.cfg
forge.cfg
forgeChunkLoading.cfg
ForgeRelocation.cfg
fossil.cfg
GanysMods/*
harvestcraft.cfg
IguanaTinkerTweaks/Modules.cfg
IguanaTinkerTweaks/restrictions.cfg
IGWMod.cfg
InvTweaks.cfg
InvTweaksRules.txt
InvTweaksTree.txt
IronChest.cfg
JABBA.cfg
journeymap_ModInfo.cfg
MCFrames.cfg
mcjtylib.cfg
Mekanism.cfg
mekanism/*
Metallurgy.cfg
MetallurgyCore.cfg
microblocks.cfg
modstats.cfg
MrTJPCore.cfg
multipart.cfg
Natura-Dynamic.json
Natura.cfg
NEI/*
NEIAddons.cfg
neiintegration.cfg
neresources.cfg
NotEnoughKeys.cfg
OpenBlocks.cfg
OpenMods.cfg
OpenModsLibCore.json
PneumaticCraft.cfg
PneumaticCraft/*
powercrystals/*
primitivemobs/*
ProjectE/*
ProjectRed.cfg
RandomThings.cfg
rftools/*
SlimeKnights/*
splash.properties
TinkersConstruct.cfg
TinkersModules.cfg
Waila.cfg
wailafeatures.cfg
WailaHarvestability.cfg
wailaplugins.cfg
WirelessRedstone.cfg
xreliquary.cfg