AE2Stuff/*
AppliedEnergistics2/*
aroma1997/*
aobd.cfg
ArtifactEffects.cfg
Artifacts.cfg
Artifice.cfg
Baubles.cfg
biomesoplenty/*
BiblioCraft.cfg
Botania.cfg
CarpentersBlocks.cfg
ChickenChunks.cfg
chisel.cfg
CodeChickenCore.cfg
cofh/core/*
cofh/thermaldynamics/*
cofh/thermalexpansion/*
cofh/thermalfoundation/*
DraconicEvolution.cfg
draconicevolution/*
endercore/*
enderio/*
EnderStorage.cfg
ExporterModID.cfg
extrabiomes.cfg
ExtraTiC.cfg
ExtraUtilities.cfg
forestry/apiculture.cfg
forestry/binnie-mods.conf
forestry/binniecore/main.conf
forestry/common.cfg
forestry/extrabees/*
forestry/extratrees/*
forestry/fluids.cfg
forestry/gamemodes/*
forestry/lepidopterology.cfg
forestry/modules.cfg
forge.cfg
forgeChunkLoading.cfg
ForgeRelocation.cfg
fossil.cfg
GanysMods/*
gendustry/*
GregsLighting.cfg
harvestcraft.cfg
IguanaTinkerTweaks/Modules.cfg
IguanaTinkerTweaks/restrictions.cfg
IGWMod.cfg
InvTweaks.cfg
InvTweaksRules.txt
InvTweaksTree.txt
IronChest.cfg
JABBA.cfg
journeymap_ModInfo.cfg
MagicBees.cfg
MCFrames.cfg
mcjtylib.cfg
Mekanism.cfg
mekanism/*
Metallurgy.cfg
MetallurgyCore.cfg
microblocks.cfg
modstats.cfg
MrTJPCore.cfg
multipart.cfg
Natura-Dynamic.json
Natura.cfg
NEI/*
NEIAddons.cfg
neiintegration.cfg
neresources.cfg
NotEnoughKeys.cfg
OpenBlocks.cfg
OpenMods.cfg
OpenModsLibCore.json
PneumaticCraft.cfg
PneumaticCraft/*
powercrystals/*
primitivemobs/*
ProjectE/*
ProjectRed.cfg
RandomThings.cfg
rftools/*
SlimeKnights/*
splash.properties
tcnodetracker.cfg
Thaumcraft.cfg
thaumcraftneiplugin.cfg
thaumicenergistics.cfg
ThaumicExploration.cfg
ThaumicTinkerer.cfg
TinkersConstruct.cfg
TinkersModules.cfg
WailaNBT/*
Waila.cfg
wailafeatures.cfg
WailaHarvestability.cfg
wailaplugins.cfg
WirelessRedstone.cfg
xreliquary.cfg